/*
    Flaticon icon font: Flaticon
    Creation date: 16/04/2016 19:28
    */

@font-face {
  font-family: 'Flaticon';
  src: url('../fonts/Flaticon.eot');
  src: url('../fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Flaticon.woff') format('woff'),
       url('../fonts/Flaticon.ttf') format('truetype'),
       url('../fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face{
    font-family: 'Flaticon';
    src: url('../fonts/Flaticon.svg#Flaticon') format('svg');
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.fi:before {
  display: inline-block;
  font-family: 'Flaticon';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.flaticon-app:before {
  content: '\f100';
}

.flaticon-computer:before {
  content: '\f101';
}

.flaticon-monitor:before {
  content: '\f102';
}

.flaticon-people:before {
  content: '\f103';
}

.flaticon-window:before {
  content: '\f104';
}

$font-flaticon-app: '\f100';
$font-flaticon-computer: '\f101';
$font-flaticon-monitor: '\f102';
$font-flaticon-people: '\f103';
$font-flaticon-window: '\f104';
