<section class="content-block-nopad bg-deepocean footer-wrap-1-1">
  <div class="container footer-1-1">
    <div class="row">
      <div class="col-sm-5">
        <img class="brand-img img-responsive" src="images/polygonal_w_logo.png">
        <h3>Over
          <strong>10,000</strong>
          downloads last month…</h3>
        <p class="lead">We've hand-crafted
          <strong>Ace of Spades</strong>
          in great detail to make your life easier… enjoy!</p>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="row">
          <div class="col-md-4">
            <h4>Shortcuts</h4>
            <ul>
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Portfolio</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Legal Stuff</h4>
            <ul>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms & Conditions</a>
              </li>
              <li>
                <a href="#">Cookie Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Seen Enough?</h4>
            <a class="btn btn-block btn-primary bg-sunflower" href="#find-out">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<div class="copyright-bar bg-black">
  <div class="container">
    <p class="pull-left small">© <script>document.write(new Date().getFullYear())</script> Thinkbots Pty Ltd.</p>
    <p class="pull-right small">Made with
      <i class="fa fa-heart pomegranate"></i>
      on Planet Earth</p>
  </div>
</div>
