<header class="header-2" id="header-2">
  <nav class="main-nav navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#">
          <img class="brand-img img-responsive" src="images/logo_MED.png">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <a href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a href="#pop-offerts">Offers</a>
          </li>
          <li class="nav-item">
            <a href="#what-can">What can it do</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">Pages
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Dropdown 1</a>
              </li>
              <li>
                <a href="#">Dropdown 2</a>
              </li>
              <li>
                <a href="#">Dropdown 3</a>
              </li>
              <li>
                <a href="#">Dropdown 4</a>
              </li>
              <li>
                <a href="#">Dropdown 5</a>
              </li>
              <li>
                <a href="#">Dropdown 6</a>
              </li>
            </ul>
          </li>
          <!-- /.dropdown -->
          <li class="nav-item">
            <a href="#find-out">Find out</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
