<header class="header-3 bg-image-cover bg-moonlight" id="header-3">
  <section class="hero" id="home">
    <div class="container">
      <div class="brand margin-top10">
        <a href="#">
          <img class="brand-img img-responsive" src="images/logo_dark_bg.png">
        </a>
      </div>
      <div class="navicon margin-top30">
        <a class="nav-slide-btn" href="#" id="nav-toggle">
          <span></span>
        </a>
      </div>
      <div class="row">
        <div class="margin-top90 col-sm-6 col-lg-6">
          <div class="editContent">
            <h1 class="white">We design and build digital products
              <!-- <span class="sunflower">Ace of Spades</span> -->
              people enjoy using.
            </h1>
          </div>
          <div class="editContent">
            <p class="lead black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta doloribus illum.</p>
          </div>
        </div>
        <div class="col-sm-8 col-lg-10">
          <a class="btn btn-outline btn-outline-lg outline-dark" href="#">Get in touch</a>
        </div>
      </div>
    </div>
  </section>
</header>
