<section id="home-slider">
  <div class="container">
    <div class="row">
      <div class="main-slider">
        <div class="slide-text">
          <h1>We design and build digital products people enjoy using.</h1>
          <h2>Have a project for us?</h2>
          <a href="#" class="btn btn-common">Get in touch &nbsp; &nbsp; <i class="fa fa-long-arrow-right"></i></a>
        </div>
        <img src="images/slider/team_working.png" class="slider-team" alt="slider image">
      </div>
    </div>
  </div>
  <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
