<section class="section" id="services">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="title">Our Services</h2>
        <p class="title-alt">We'll help you deliver great experiences to your customers.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="services-box text-center">
          <div class="service-icon-const">
            <i class="flaticon-window"></i>
          </div>
          <h3>Web Development</h3>

          <p class="text-muted">We specialize in Ruby on Rails application development. We build tailored-made responsive websites, SaaS, and eCommerce applications.</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="services-box text-center">
          <div class="service-icon-const">
            <i class="flaticon-app"></i>
          </div>
          <h3>Mobile Apps</h3>

          <p class="text-muted">Need to bring your ideas to the fingertips of your customers? We also build Android and iOS applications.</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="services-box text-center">
          <div class="service-icon-const">
            <i class="flaticon-monitor"></i>
          </div>
          <h3>Digital Design</h3>

          <p class="text-muted">Our design team works closely with our developers to ensure that every product we deliver is a perfect mix of good user interface and experience.</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="services-box text-center">
          <div class="service-icon-const">
            <i class="flaticon-people"></i>
          </div>
          <h3>Training</h3>

          <p class="text-muted">In partnership with Craft Academy, we offer a 12 week immersive Bootcamp that prepares students for a career in web development. <a href="//thecraftacademy.co.za" target="_blank">Read more.</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
