.footer-1-1 {
  padding-bottom: 45px;
  padding-top: 60px;

  a {
    color: #42A0B1;

    &:hover,
    &:focus {
      color: #4fcccd
    }
  }

  h3,
  h4,
  .lead,
  li,
  p {
    color: white;
  }

  .brand-img {
    margin-bottom: 30px;
    width: 200px;
  }

  h4 {
    color: #95A5A6;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
  }

  .lead {
    font-size: 1.125em;
    margin-bottom: 36px;
  }

  ul {
    list-style-type: none;
    margin: 0 0 26px;
    padding: 0;
  }

  li:first-child {
    border-top: 0;
    padding-top: 1px;
    padding-left: 0;
  }

  .social-icons {
    li {
      border-top: 0;
      padding-top: 1px;

      a {
        font-size: 28px;
      }
    }
  }
}

.copyright-bar {
  background-color: #233447; //or use this #637074
  bottom: 0;
  height: 70px;
  padding-top: 25px;
  position: relative;

  p {
    color: white;
    font-weight: 700;
    margin: 0;
  }
}
